{% extends 'base.html.twig' %}

{% block title %}modification du mot de passe{% endblock %}

{% block body %}
<div class="container">
        <h1 class="my-5">Modifiez votre mot de passe !</h1>
        {{form_start(form)}}
        <div class="row">
            <div class="col">
                <div class="alert alert-light">
                    <h4>donnez votre ancien mot de passe</h4>
                    {{ form_row(form.oldPassword)}}
                    <hr>
                    <h4>Saisissez un nouveau mot de passe</h4>
                    {{ form_row(form.newPassword)}}
                    {{ form_row(form.confirmPassword)}}
                </div>
            </div>
        </div>
        <div class="alert alert-success clearfix">
            <h2 class="alert-heading">Finaliser la modification</h2>
            <button class="btn btn-primary float-right" type="submit">
                <i class="fas fa-check"></i>
                confirmez votre inscription
            </button>
        </div>
        {{form_end(form)}}
    </div>
{% endblock %}
