{% extends 'base.html.twig' %}

{% block title %}
    Bienvenue sur le meilleur réseau d'appartement!
{% endblock %}

{% block header %}
    <h2>voici le header</h2>
{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-3">Bienvenur sur SymBNB !</h1>
        <p class="lead">Nous mettons en relation les voyageurs et les propriétaires qui veulent proposer des biens.</p>
        <hr class="my-4">
        <p>Vous êtes voyageurs et vous voulez savoir ou loger ?</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{path('ads_index')}}" role="button">Voir nos annonces</a>
        </p>
    </div>

    <h2 class="h1 mt-5 mb-5">Nos appartements stars</h2>

    <div class="row">
        {% for data in ads %}
        {% set ad = data.annonce %}
            {% include 'ad/_ad.html.twig'%}
        {% endfor %}
    </div>

    <h2 class="h1 mt-5 mb-5">Nos propriétaires stars</h2>

    <div class="row">
        {% for data in proprios %}
            {% set proprio = data.proprio %}
            <div class="col-md-6">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">{{proprio.fullName}}</h4>
                        <hr>

                        <div class="card-text">
                            <img src="{{proprio.picture}}" alt="avatar de Lior" 
                            class="float-left mr-3">
                            {{proprio.introduction | raw}}
                            <a href="{{path('user_show',{'slug':proprio.slug})}}" class="btn btn-success float-right">En savoir plus !</a>   
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}